{% extends "base.html" %}

{% block title %}Somnuscape - {{ name }}{% endblock title %}

{% block body %}
{% include "elements/nav.html" %}
<div id="main" class="container-fluid">
    <div class="row mt-2">
        <div class="col-2 border-end">
            <div class="p-1 d-flex flex-column" style="height: calc(100vh - 60px);">
                <div class="px-1 border-bottom">
                    <h4 class="text-center">Attributes</h4>
                    <p>Health: {{ p.health }}/{{ p.attributes.health.max_health() }}</p>
                    <p>Strength: {{ "{:#}"|format(p.attributes.strength) }}</p>
                    <p>Agility: {{ "{:#}"|format(p.attributes.agility) }}</p>
                    <p>Intelligence: {{ "{:#}"|format(p.attributes.intelligence) }}</p>
                </div>
                <h4 class="mt-1 text-center">Chat</h4>
                <ul class="overflow-y-scroll list-group list-group-flush h-100" id="chatbox">
                    {% include "elements/chatbox.html" %}
                </ul>
                <form class="d-flex p-1" hx-post="/chat" hx-target="#chatbox" hx-on::after-request="this.reset()" hx-swap="innerHTML scroll:bottom"
                    autocomplete="off">
                    <input type="text" class="flex-grow-1 form-control overflow-scroll rounded-end-0" name="message"
                        id="message" placeholder="Speak...">
                    <button type="submit" class="btn btn-primary rounded-start-0" id="send">Send</button>
                </form>
            </div>
        </div>
        <div class="col d-flex flex-column" style="height: calc(100vh - 60px);">
            <ul id="log" class="flex-grow-1 overflow-y-scroll" hx-ws="connect:/ws"></ul>
            <div class="p-1 border-top" id="actions">
                {{ actions|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock body %}