{% extends "base.html" %}

{% block title %}Somnuscape - {{ name }}{% endblock title %}

{% block body %}
{% include "nav.html" %}
<div id="main" class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <div class="shadow p-1 overflow-y-scroll rounded-top bg-secondary-subtle"
                style="height: calc(100vh - (120px));">
            </div>
        </div>
        <div class="col-3">
            <div class="shadow p-1 rounded-top bg-secondary-subtle d-flex flex-column"
                style="height: calc(100vh - (120px));">
                <div class="px-1 border-bottom user-select-none">
                    <h4 class="text-center">Attributes</h4>
                    <p>Health: {{ p.health }}/{{ p.attributes.health.max_health() }}</p>
                    <p>Strength: {{ "{:#}"|format(p.attributes.strength) }}</p>
                    <p>Agility: {{ "{:#}"|format(p.attributes.agility) }}</p>
                    <p>Intelligence: {{ "{:#}"|format(p.attributes.intelligence) }}</p>
                </div>
                <h4 class="mt-1 text-center user-select-none">Chat</h4>
                <ul class="overflow-y-scroll list-group list-group-flush" id="chatbox">
                    {% include "chat_msgs.html" %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="shadow p-1 overflow-y-scroll rounded-bottom border-top bg-secondary-subtle">
                <form>
                    <button type="submit" class="btn btn-primary" id="submit">Commit</button>
                </form>
            </div>
        </div>
        <div class="col-3">
            <form class="shadow d-flex p-1 rounded-bottom border-top bg-secondary-subtle" hx-post="/chat"
                hx-target="#chatbox" hx-on::after-request="this.reset()" autocomplete="off">
                <input type="text" class="flex-grow-1 form-control overflow-scroll rounded-end-0" name="message"
                    id="message" placeholder="Speak...">
                <button type="submit" class="btn btn-primary rounded-start-0" id="send">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}