<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Somnuscape{% endblock title %}</title>
    <link rel="icon" href="/assets/favicon.svg">
    <link href="/assets/bootstrap.css" rel="stylesheet">
</head>

<body>
    {% block body %}{% endblock body %}
    <script src="/assets/htmx.js"></script>
    <script src="/assets/bootstrap.js"></script>
</body>

</html>